<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Electro Maroc</title>
</head>
<body>
    
    <header>
        <div class="container">
             <div class="hero-header flex place-content-around my-5">
                <img  class="w-44" src="/public/img/logo.png" alt="">

                <ul class="flex text-center gap-8 font-bold font-mono text-center mt-auto mb-auto">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">About</a></li>
                   <li><a href="#">Contact</a></li>
                </ul>
                <ul class="flex text-center gap-8 font-bold font-mono text-center mt-atou mb-auto ">
                    <li><a href="#">SingIn</a></li>
                    <li><a href="#">SingUp</a></li>
                     <li><i class="fa-thin fa-screwdriver-wrench"></i></li>
                  </ul>
             </div>
        </div>
    </header>
</body>
</html>