<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>login</title>
</head>
<body class="bg-gray-200">
<div >
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto my-52 max-w-sm lg:max-w-4xl">
          <div class="hidden lg:block lg:w-1/2 bg-cover " style="background-image:url(/public/img/possessed-photography-jIBMSMs4_kA-unsplash.jpg)"></div>
          <div class="w-full p-8 lg:w-1/2">
              <h2 class="text-2xl font-semibold text-gray-700 text-center">Electro Maroc</h2>
              <p class="text-xl text-gray-600 text-center">Welcome back!</p>
        
              <div class="mt-4 flex items-center justify-between">
                  <span class="border-b w-1/5 lg:w-1/4"></span>
                  <a href="#" class="text-xs text-center text-gray-500 uppercase">login with email</a>
                  <span class="border-b w-1/5 lg:w-1/4"></span>
              </div>
              <div class="mt-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
                  <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email">
              </div>
              <div class="mt-4">
                  <div class="flex justify-between">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                  </div>
                  <input class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password">
              </div>
              <div class="mt-8">
                  <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
              </div>
              <div class="mt-4 flex items-center justify-between">
                  <span class="border-b w-1/5 md:w-1/4"></span>
                  <a href="#" class="text-xs text-gray-500 uppercase">or sign up</a>
                  <span class="border-b w-1/5 md:w-1/4"></span>
              </div>
              <div class=" mt-4  text-end font-bold">
                <a href="#">back to home</a>
              </div>
          </div>
      </div>
  </div>
</body>
</html>